/* Secciones generales */
.section1, .section2, .section3 {
  height: 100vh; /* Altura completa de la ventana */
  background-size: contain; /* Asegura que la imagen se vea completa */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  background-color: #f4f4f4; /* Color de fondo de seguridad en caso de espacios vacíos */
}
